<div class="row">
    <div class="col-md-4 offset-md-4">
        <div style="font-weight:600;font-size:18px">
            <div style="margin-top:100px;display:flex;align-items: center">
                <div style="flex:1 1 auto">
                    SALIDA: Población Menzel
                    <br> LLEGADA: Centro
                    <br> COSTO: $1000
                </div>
            </div>
            <i class="fas fa-bicycle" style="color: #9d87d2;font-size:20px"></i>
            <span class="text-success" style="margin-left:5px">Disponible</span>
        </div>

    </div>
</div>

<!-- <div class="" style="border-radius:5px;;display:flex;justify-content:flex-start;align-items:flex-start;">
    <div style="padding-left:10px">
        <img [src]="post.photoURL" class="" style="margin-top:6px;width:50px;height:50px;object-fit:cover;border-radius:50%" alt="">
    </div>
    <div style="padding-left:15px;width:100%">




        <div class="text-muted" style="margin:0px;color:#333">
            <div style="display:flex;justify-content:space-between;flex-wrap:wrap;width:100%">
                <div style="display:flex;">
                    <div class="text-muted hora" style="margin-right:10px">
                        {{post.fecha | amLocale: "es" | amTimeAgo}}
                    </div>
                    <a (click)="navegar('user')" style="margin-right:10px">
                        <span class="text-primary" style="font-weight:600">{{post.nombre}} </span>
                    </a>
                </div>

                <a (click)="showPrice = true">
                    <span style="font-size:14px">COMPRAR</span>
                </a>

            </div>

            <div class="text-muted" style="font-weight:500;width:250px;display:flex;justify-content:flex-start;flex-wrap:wrap">
                <div style="display:flex;align-items:center;margin-right:10px">

                    <div *ngIf="post.totalLikes === 0">
                        <a (click)="agregarLikePost(post.id)" style="display: flex;align-items: center">
                            <i class="fas fa-thumbs-up" style="color:#bbb;margin-left:3px"></i>
                            <span class="text-muted" style="font-weight:600;margin-left: 3px">Likes</span>
                        </a>
                    </div>

                    <div *ngIf="post.totalLikes > 0">
                        <div *ngFor="let like of likes; let idx = index">
                            <ng-template #goo>

                                <a *ngIf="likes.length - 1 === idx" (click)="agregarLikePost(post.id)" [attr.id]="post.id + 'este'" style="display: flex;align-items: center">
                                    {{post.totalLikes}}
                                    <i class="fas fa-thumbs-up" style="color:#bbb;margin-left:3px"></i>
                                    <span class="text-muted" style="font-weight:600;margin-left: 3px">Likes</span>
                                </a>
                            </ng-template>
                            <a *ngIf="like.userId === _ds.userId && like.postId === post.id; else goo" (click)="quitarLikePost(post.id, $event.currentTarget.id)"
                                style="display: flex;align-items: center" [attr.id]="like.id">
                                {{post.totalLikes}} {{ remove(post.id) }}
                                <i class="fas fa-thumbs-up" style="color:#333;margin-left:3px"></i>
                                <span class="text-muted" style="font-weight:600;margin-left: 3px">Likes</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div style="display:flex;align-items:center;margin-right:3px;">
                    <div *ngIf="post.totalComentarios > 0">
                        {{post.totalComentarios}}
                    </div>
                    <i class="far fa-comment-alt" style="color:#bbb;margin-left:3px"></i>
                    <a (click)="addPostActivos(post.id)">
                        <span style="font-weight:600;margin-left:3px">Comentarios</span>
                    </a>
                </div>
            </div>

            <div *ngFor="let item of postActivos">
                <div *ngIf="item === post.id">
                    <div class="" style="padding-left:8px;padding-right:8px;padding-bottom:15px;border-radius:3px">
                        <div *ngFor="let comentario of comentarios">
                            <div *ngIf="comentario.postId === post.id">
                                <div class="" style="margin-left:-5px;display:flex;justify-content:flex-start;align-items:center">
                                    <div>
                                        <img [src]="comentario.photoURL" class="" style="margin-right:5px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
                                            alt="">
                                    </div>
                                    <div style="width: 200px;display: flex;flex-wrap:wrap; align-items:center">
                                        <span style="color:#007bff;font-size:16px;font-weight:600">
                                            {{comentario.nombre}}
                                        </span>
                                    </div>

                                </div>
                                <div class="" style="margin-left:0px; display:flex;justify-content:flex-start;flex-wrap:wrap;align-items:center">
                                    <div class="text-dark" style="width:100%;font-size:18px;display:flex;margin-left:40px">
                                        {{comentario.mensaje}}
                                    </div>
                                    <div style="display:flex;justify-content:flex-start;flex-wrap:wrap;align-items:center;">

                                        <div *ngFor="let imagen of imagenes">
                                            <div *ngIf="imagen.comentId === comentario.id">
                                                <div>
                                                    <div style="max-width:280px;position:relative">
                                                        <div></div>
                                                        <img (click)="ToggleTrueImg($event.currentTarget.id)" [attr.id]="imagen.id" [src]="imagen.url" style="margin:5px;width:200px;height:200px;object-fit:cover;border-radius:6px;"
                                                            alt="">
                                                    </div>
                                                </div>


                                                <div *ngIf="imagen.active" [attr.id]="imagen.id" (click)="ToggleFalseImg($event.currentTarget.id)" style="position:fixed;left:0px;top:0px;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.6); height:100%;width:100%;z-index:2;display:flex;justify-content:center;align-items:center;">
                                                    <div style="width:600px;height:500px;background:white;display:flex;justify-content:center; align-items: center;position:relative;border-radius: 8px 8px 8px 8px;padding:3px">
                                                        <i class="fas fa-times-circle" style="font-size:40px;color: lightcoral;position:absolute;top:-10px;right:-10px"></i>
                                                        <div style="position:relative">
                                                            <img [src]="imagen.url" style="max-width: 450px;max-height: 400px">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a [routerLink]="['/mypost','comentar', post.id]">
                <div style="display:flex;justify-content:flex-start;align-items:center">
                    <span style="font-weight:600;font-size:20px">Comentar</span>
                    <i class="fas fa-chevron-circle-right" style="margin-left: 5px;color:#bbb;font-size:25px"></i>
                </div>
            </a>

        </div>
    </div>


</div> -->