<div class="row" style="margin-top:30px">

  <div class="col-md-3 offset-md-3">
    <div style="display:flex;justify-content:flex-start;;align-items:center;flex-wrap:wrap;border:1px solid #eee;border-radius:5px;padding:10px">

      <div class="">
        <div (mouseleave)="showName2 = false" (mouseenter)="showName2 = true" style="position:relative">
          <a (click)="navegar()">
            <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%;"
              alt="">
          </a>
          <div style="border:1px solid #362927;background:#F03A17;position:absolute;bottom:-3px;right:15px;height:16px;width:16px;border-radius:50%;">
          </div>
        </div>
        <span *ngIf="showName2" style="font-size:12px;">Danielaa20</span>
      </div>

      <div class="">
        <div (mouseleave)="showName3 = false" (mouseenter)="showName3 = true" style="position:relative">
          <a (click)="navegar()">
            <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%;"
              alt="">
          </a>
          <div style="border:1px solid #362927;background:#F03A17;position:absolute;bottom:-3px;right:15px;height:16px;width:16px;border-radius:50%;">
          </div>
          <div class="text-white bg-primary" style="position:absolute;bottom:1px;right:10px;height:18px;width:18px;border-radius:50%;display:flex;justify-content:center;align-items:center">
            <span style="font-size:16px;font-weight:600">3</span>
          </div>
        </div>
        <span *ngIf="showName3" style="font-size:12px;">Oscar Garcia</span>
      </div>

      <div class="">
        <div (mouseleave)="showName4 = false" (mouseenter)="showName4 = true" style="position:relative">
          <a (click)="navegar()">
            <img src="assets/04.jpg" class="" style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%;"
              alt="">
          </a>
          <div style="border:1px solid #362927;background:#F03A17;position:absolute;bottom:-3px;right:15px;height:16px;width:16px;border-radius:50%;">
          </div>
        </div>
        <span *ngIf="showName4" style="font-size:12px;">Poimsm</span>
      </div>

      <div class="">
        <div (mouseleave)="showName5 = false" (mouseenter)="showName5 = true" style="position:relative">
          <a (click)="navegar()">
            <img src="assets/05.jpg" class="" style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%;"
              alt="">
          </a>
          <div style="border:1px solid #362927;background:rgb(147, 216, 9);position:absolute;bottom:-3px;right:15px;height:16px;width:16px;border-radius:50%;">
          </div>
        </div>
        <span *ngIf="showName5" style="font-size:12px;">Ferh</span>
      </div>


      <div style="margin-right:10px;margin-top:6px;">
        <a>
          <i class="fas fa-plus" style="font-size:40px;color:#bbb"></i>
        </a>
      </div>
    </div>



  </div>



  <div class="col-md-3" style="">
    <!-- <div style="overflow:scroll;height:400px;border:1px solid #bbb" id="app-chat">

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>


      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>


      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>


      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>


      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-end;align-items:flex-start">
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu
        </div>
        <div class="" style="margin-left:5px">
          <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
      </div>
      <br>

      <div style="display:flex;justify-content:flex-start;align-items:flex-start">
        <div class="" style="margin-left:5px">
          <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
            alt="">
        </div>
        <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
          <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
            <a (click)="navegar()">Poimsm</a>
          </div>
          hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
        </div>
      </div>
    </div>
    <div class="text-muted" style=";width:100%;height:45px;border:1px solid #bbb;border-radius:0px 0px 10px 5px;border-top:0px;padding:5px">
      Di algo...
    </div> -->
    <div style="width:100%;text-align: right">
      <a>
        <span class="text-muted" style="font-weight: 500;font-size:13px">Cargar más</span>
      </a>

    </div>


    <div style="display:flex;justify-content:flex-end;align-items:flex-start">
      <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
        <div class="text-dark" style="font-weight:600;width:100%;text-align:right">
          <a (click)="navegar()">Poimsm</a>
        </div>
        hooola como estas y tu
      </div>
      <div class="" style="margin-left:5px">
        <img src="assets/02.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
          alt="">
      </div>
    </div>
    <br>

    <div style="display:flex;justify-content:flex-start;align-items:flex-start">
      <div class="" style="margin-left:5px">
        <img src="assets/03.jpg" class="" style="margin-right:10px;margin-top:6px;width:40px;height:40px;object-fit:cover;border-radius:50%"
          alt="">
      </div>
      <div class="bg-light text-muted" style="border-radius:10px;padding:5px">
        <div class="text-dark" style="font-weight:600;width:100%;text-align:left">
          <a (click)="navegar()">Poimsm</a>
        </div>
        hooola como estas y tu yo creo q si pero no se cuando pueda ser que dices tu?
      </div>
    </div>
    <br>
    <div class="text-muted" style=";width:100%;height:45px;border:1px solid #bbb;border-radius:15px;padding:6px">
      Di algo...
    </div>
  </div>



</div>