<div class="card bg-light" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">Safe place</h5>
    <p class="card-text">Usa un mapa y configura un punto de encuentro óptimo en la ciudad.</p>
    <img src="assets/map03.jpg" style="width:250px;border-radius:10px;margin-bottom:5px" alt="">
    <div style="display:flex;justify-content:space-between;align-items:center;width:100%">
      <a class="bg-primary text-white" style="padding:10px;border-radius:5px;">
        Obten envios grátis de prueba
      </a>
      <a (click)="navegar()">
        <i class="fas fa-chevron-circle-right" style="padding-left:10px;font-size:35px;color:#bbb"></i>
      </a>
    </div>
  </div>
</div>