<div class="card bg-light" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">Joopiter</h5>
    <p class="card-text">
      Un mensajero es una persona normal que debe moverse en la ciudad y desea tomar provecho de su trayecto. Él (ella) se compromete
      a trasladar lo que tú estes vendiendo. La plataforma brinda la seguraridad suficiente para que nada se pierda.
    </p>
    <div style="display:flex;align-items:center">
      <i class="fas fa-bicycle" style="color: #bbb;font-size:50px"></i>
      <span class="text-muted" style="margin-left:5px;font-size:20;font-weight:700">
        Disponible
      </span>
    </div>

    <div style="display:flex;justify-content:space-between;align-items:center;width:100%">
      <a class="bg-primary text-white" style="padding:10px;border-radius:5px;">
        Obten envios grátis de prueba
      </a>
      <a (click)="navegar()">
        <i class="fas fa-chevron-circle-left" style="padding-left:10px;font-size:35px;color:#bbb"></i>
      </a>
    </div>
  </div>
</div>