<div *ngIf="showChat">
  <app-webchat (closeChat)="showChat = !$event"></app-webchat>
</div>

<!-- <div class="bg-secondary shadow-bottomm" style="background: #e9ebee"> -->
<div style="width:100%;height:60px"></div>

<nav class="mobile navbar bg-danger navbar-dark adaptable shadow-bottoom" style="z-index:150;position:fixed;top:0px;left:0px;width:100%;display:flex;flex-wrap: wrap;height:60px">
  <div style="display:flex; flex-wrap:wrap; justify-content:space-around;max-width:300px">
    <a (click)="showBar = false" routerLink="hot" style="margin-right:10px">
      <h2 class="logo2" style="font-weight:600;color:rgb(255, 255, 255)">Joopiter</h2>
    </a>

    <button class="navbar-toggler Menu" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>
  </div>
  <div style="display:flex;justify-content:center;align-items: center;">
    <input class="text-muted" style="padding-left:10px;outline: none; border-width: 0px;height:30px;min-width:220px;max-width:350px;border-radius:5px 0px 0px 5px"
      type="text" name="" value="" placeholder="Buscar...">
    <div style=" border-width: 0px; height: 30px;background:#fff;border-radius:0px 5px 5px 0px;width:20px">
      <a>
        <i class="fas fa-search" style="color:rgb(134, 134, 134)"></i>
      </a>
    </div>
  </div>

  <div class="adaptableMenu">
    <div style="color:#fff;padding:3px;border-radius:5px; display:flex;align-items:center; justify-content:space-around">

      <div *ngIf="_ds.isAuth" (outside.click)="close('comentarios')" style="position:relative; margin-left:20px; margin-right:20px">
        <a (click)="showComments = !showComments">
          <div style="width:40px;height: 30px;background: #e33d4c;display:flex;justify-content:center;align-items:center;border-radius:3px">
            <i class="fas fa-bell" style="font-size:16px"></i>
          </div>
        </a>
        <div *ngIf="notificador > 0" style="z-index:1;background:red;color:white;position:absolute;top:-3px;right:-1px;font-size:13px;font-weight:700;width:18px;height:18px;border-radius:50%;display:flex;justify-content:center;align-items:center">
          {{notificador}}
        </div>
        <div class="all" *ngIf="showComments" style="border-radius:3px;border:0px solid #bbb;position:absolute;top:40px;right:-40px;min-height:300px;width:400px;z-index:160;background:white">
          <div class="speech-bubble speech-bubble:after">

            <button (click)="showComments = false" routerLink="notificaciones" style="width:100%;border-radius:4px">
              <div style="display:flex;align-items:center;height:80px;width:100%;border-radius:4px">
                <img src="assets/03.jpg" style="height:50px;width:70px;border-radius:3px;object-fit:cover">
                <div class="text-dark" style="width:350px;font-weight:600;padding-left:10px">
                  Hola tienes zapati...
                  <br>
                  <span class="text-primary" style="font-weight:700">
                    Oscar Garcia
                  </span>
                </div>
                <div class="text-muted" style="margin-left:10px;flex:1 1 auto;font-weight:600;font-size:14px">
                  <i class="far fa-comment" style="font-size:20px"></i>
                  hace 3 minutos
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;">

            <button (click)="showComments = false" routerLink="notificaciones" style="width:100%;border-radius:4px">
              <div style="display:flex;align-items:center;height:80px;width:100%;border-radius:4px">
                <img src="assets/03.jpg" style="height:50px;width:70px;border-radius:3px;object-fit:cover">
                <div class="text-dark" style="width:350px;font-weight:600;padding-left:10px">
                  <span class="text-primary" style="font-weight:700">
                    Juan Estaban
                  </span>
                  <span>comento</span>
                  en una de tus publicaciones
                </div>
                <div class="text-muted" style="margin-left:10px;flex:1 1 auto;font-weight:600;font-size:14px">
                  <i class="far fa-comment-alt" style="font-size:20px"></i>
                  hace 3 minutos
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;">

            <button (click)="showComments = false" routerLink="notificaciones" style="width:100%;border-radius:4px">
              <div style="display:flex;align-items:center;height:80px;width:100%;border-radius:4px">
                <img src="assets/03.jpg" style="height:50px;width:70px;border-radius:3px;object-fit:cover">
                <div class="text-dark" style="width:350px;font-weight:600;padding-left:10px">
                  <span class="text-primary" style="font-weight:700">
                    Marcos TRREW
                  </span>
                  <span>reacciono</span>
                </div>
                <div class="text-muted" style="margin-left:10px;flex:1 1 auto;font-weight:600;font-size:14px">
                  <i class="fas fa-vial" style="font-size:20px"></i>
                  hace 3 minutos
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;">

            <button (click)="showComments = false" routerLink="notificaciones" style="width:100%;border-radius:4px">
              <div style="display:flex;align-items:center;height:80px;width:100%;border-radius:4px">
                <img src="assets/03.jpg" style="height:50px;width:70px;border-radius:3px;object-fit:cover">
                <div class="text-dark" style="width:350px;font-weight:600;padding-left:10px">

                  <span>Solicitud de compra de</span>
                  <span class="text-dark" style="font-weight:700">
                    Marcos TRREW
                  </span>
                </div>
                <div class="text-muted" style="margin-left:10px;flex:1 1 auto;font-weight:600;font-size:14px">
                  <i class="fas fa-futbol" style="font-size:20px"></i>
                  hace 3 minutos
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;">

            <!-- <button (click)="showComments = false" routerLink="notificaciones" style="width:100%;border-radius:4px">
              <div style="display:flex;align-items:center;height:80px;width:100%;border-radius:4px">
                <img src="assets/03.jpg" style="height:50px;width:70px;border-radius:3px;object-fit:cover">
                <div class="text-dark" style="width:350px;font-weight:600;padding-left:10px">

                  <span>Solicitud de compra de</span>
                  <span class="text-dark" style="font-weight:700">
                    Marcos TRREW
                  </span>
                </div>
                <div class="text-muted" style="margin-left:10px;flex:1 1 auto;font-weight:600;font-size:14px">
                  <i class="fas fa-bicycle" style="font-size:20px"></i>
                  hace 3 minutos
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;"> -->
            <div style="width:100%">
              <a>
                <div class="bg-secondary text-white" style="display: flex; justify-content:center;align-items:center;height:40px;width:100%;border-radius:0px 0px 4px 4px">
                  <span style="font-weight:600">
                    Cargar más notificaciones
                  </span>
                </div>
              </a>
            </div>
            <hr style="padding:0px;margin:0px;">
          </div>
        </div>
      </div>

      <!-- <a *ngIf="_ds.isAuth" (click)="showBar = true" routerLink="hot" style="color:#fff;margin-left:20px; margin-right:20px">
        <i class="far fa-user" style="color:white;font-size:16px"></i>
        <i class="fas fa-sort-down" style="color:white;font-size:18px;margin-bottom:5px"></i>
      </a> -->
      <div [routerLink]="['/mypost','post', '']" style="width:40px;height: 30px;background: #e33d4c;display:flex;justify-content:center;align-items:center;border-radius:3px">
        <i class="fas fa-pen" style="font-size:18px"></i>
      </div>
      <div (click)="showChat = true" style="margin-left:20px;width:40px;height: 30px;background: #e33d4c;display:flex;justify-content:center;align-items:center;border-radius:3px">
        <i class="fas fa-comment" style="font-size:18px"></i>
      </div>

      <!-- <a [routerLink]="['/mypost','post', '']" style="margin-left:20px;margin-right:20px">
      </a> -->

      <div *ngIf="_ds.isAuth" (outside.click)="close('configuraciones')" style="position:relative; margin-left:20px; margin-right:20px">

        <a (click)="showConfiguraciones = !showConfiguraciones">
          <div style="display:flex;background: #e33d4c;padding:4px;border-radius:3px">
            <div style="background: #e3dcf0;height: 30px;width: 30px;border-radius:2px;display:flex;justify-content:center;align-items:center">
              <i class="fas fa-rocket" style="font-size:20px;color:#7ade74;font-size:16px"></i>
            </div>
            <div style="margin-left:5px;color:rgb(216, 216, 216);font-weight:600;font-size:14px;display:flex;flex-wrap:wrap;height:30px">
              <div style="width:100%">
                Oscar Garcia
              </div>
              <div style="width:100%;margin-top:-8px">
                online
              </div>
            </div>
            <i class="fas fa-sort-down" style="margin-left:50px;color:white;font-size:18px;margin-bottom:5px"></i>
          </div>
        </a>
        <div class="all" *ngIf="showConfiguraciones" style="background: white;border-radius:3px;border:0px solid #bbb;position:absolute;top:40px;right:-40px;width:250px;z-index:99">
          <div style="font-size:16px">
            <button (click)="showConfiguraciones = false" routerLink="notificaciones" style="width:100%">
              <div style="display: flex; justify-content:space-between;align-items:center;height:40px;width:100%;border-radius:4px;border:0px solid #f8f9fa;padding:3px">
                <div class="text-muted" style="font-weight:600;padding-left:10px">
                  <i class="fas fa-cog" style="font-size:16px"></i>
                  <span style="margin-left:20px">
                    Mi perfil
                  </span>
                </div>
              </div>
            </button>
            <button (click)="showConfiguraciones = false" routerLink="notificaciones" style="width:100%">
              <div style="display: flex; justify-content:space-between;align-items:center;height:40px;width:100%;border-radius:4px;border:0px solid #f8f9fa;padding:3px">
                <div class="text-muted" style="font-weight:600;padding-left:10px">
                  <i class="fas fa-qrcode" style="font-size:16px"></i>
                  <span style="margin-left:20px">
                    Mis códigos
                  </span>
                </div>
              </div>
            </button>
            <button (click)="showConfiguraciones = false" routerLink="notificaciones" style="width:100%">
              <div style="display: flex; justify-content:space-between;align-items:center;height:40px;width:100%;border-radius:4px;border:0px solid #f8f9fa;padding:3px">
                <div class="text-muted" style="font-weight:600;padding-left:10px">
                  <i class="fas fa-credit-card" style="font-size:16px"></i>
                  <span style="margin-left:20px">
                    Métodos de pago
                  </span>
                </div>
              </div>
            </button>
            <hr style="padding:0px;margin:0px;">

            <button class="" (click)="showConfiguraciones = false" routerLink="notificaciones" style="width:100%">
              <div style="display: flex; justify-content:space-between;align-items:center;height:40px;width:100%;border-radius:4px;border:0px solid #f8f9fa;padding:3px">
                <div class="text-muted" style="font-weight:600;padding-left:10px">
                  <i class="fas fa-sign-out-alt" style="font-size:16px"></i>
                  <span style="margin-left:20px">
                    Salir
                  </span>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>





      <!-- <a routerLink="login" style="margin-left:20px;margin-right:20px">
        <i class="fas fa-level-up-alt" style="font-size:20px"></i>
      </a> -->
      <!-- <i class="fab fa-reddit" style="color:white;font-size: 25px"></i> -->
      <!-- <img src="assets/03.jpg" style="width:50px;height:30px;object-fit:cover;border-radius: 0px"> -->
    </div>
  </div>

  <div style="width:3%">
  </div>
</nav>

<!-- <div *ngIf="_ds.isAuth">
  <div class="bg-primary text-white bottom" style="width:100%;display:flex;justify-content:flex-end">
    <div style="height:40px;margin-left:10px;width:200px;font-weight:600;font-size:18px;display:flex;justify-content:center;align-items:center">
      <a>
        Crear grupo
      </a>
    </div>
    <div style="height:40px;margin-left:10px;width:200px;font-weight:600;font-size:18px;display:flex;justify-content:center;align-items:center">
      <a>
        Explorar
      </a>
    </div>
  </div>
</div> -->
<!-- <div *ngIf="_ds.isAuth" style="display:flex;justify-content: center;align-items:center;flex-wrap:wrap; font-size:16px">
  <div style="width:100%;border-radius:0px;font-weight:600" class="btn btn-primary">
    New exclusive Fortnite loot for Prime members: outfit, back bling, pickaxe, and dance emote.
  </div>
</div> -->

<!-- <div *ngIf="_ds.isAuth" style="display:flex;justify-content: center;align-items:center;flex-wrap:wrap; font-size:16px">
    <div [routerLink]="['/mypost','post', '']" style="width:50%;border-radius:0px;font-weight:600" class="btn btn-primary">
      NUEVA PUBLICACION
    </div>
    <div routerLink="producto" style="width:50%;border-radius:0px;font-weight:600" class="btn btn-primary">
      TABLERO
    </div>
  </div> -->

<!-- <div *ngIf="showBar" style="display:flex;justify-content: center;align-items:center;flex-wrap:wrap; font-size:18px">
    <div [routerLink]="['/mypost','post', '']" style="border-bottom:2px solid dodgerblue;width:50%;border-radius:0px;font-weight:600"
      class="btn btn-primary">
      Nueva publicación
    </div>
    <div routerLink="producto" style="border-bottom:2px solid dodgerblue;width:50%;border-radius:0px;font-weight:600" class="btn btn-primary">
      Tablero
    </div>
  </div> -->

<!-- <div *ngIf="showBar" style="height:40px;display:flex;font-size:18px">
  <div [routerLink]="['/mypost','post', '']" style="width:50%;border-radius:0px;font-weight:700;display:flex;justify-content:center;align-items:center"
    class="btn btn-light">
    <span class="text-muted">
      Nueva publicación
    </span>
  </div>
  <div routerLink="producto" style="width:50%;border-radius:0px;font-weight:700;display:flex;justify-content:center;align-items:center"
    class="btn btn-light">
    <span class="text-muted">
      Tablero
    </span>
  </div>
</div> -->







<div *ngIf="_ds.isAuth" class="row" style="padding-top:10px;padding-bottom:10px;width:100%;">
  <div class="col-md-12  text-muted" style="display:flex;justify-content:center;border-bottom:0px solid #ccc;flex-wrap:wrap">
    <div style="display:flex;justify-content:center">
      <a routerLink="hot" class="text-muted">
        <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Popular ahora
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="reciente" class="text-muted">
        <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Lo más reciente
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="guardado" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Guardado
          <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
            3
          </div>
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="siguiendo" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Grupos seguidos
          <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
            5
          </div>
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="pm" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Ver mapa
        </span>
      </a>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <div *ngIf="_ds.isAuth" class="row" style="padding-top:10px;padding-bottom:10px;width:100%;">
  <div class="col-md-12  text-muted" style="display:flex;justify-content:center;border-bottom:0px solid #ccc;flex-wrap:wrap">
    <div style="display:flex;justify-content:center">
      <a routerLink="hot" class="text-muted">
        <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Popular ahora
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="reciente" class="text-muted">
        <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Lo más reciente
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="guardado" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Guardado
          <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
            3
          </div>
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="siguiendo" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Grupos seguidos
          <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
            5
          </div>
        </span>
      </a>
    </div>
    <div style="display:flex;justify-content:center">
      <a routerLink="pm" class="text-muted">
        <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
          Ver mapa
        </span>
      </a>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="_ds.isAuth" class="row" style="margin-top:5px;padding-bottom:5px;padding-top:10px;padding-bottom:10px;width:100%;">
    <div class="col-md-12" style="display:flex;justify-content:space-around;border-bottom:0px solid #ccc;flex-wrap:wrap">
      <div class="bg-successs all" style="border-radius:6px;background:white;padding:30px;width:1000px;display:flex;justify-content:space-between">

        <div style="display:flex;justify-content:center">
          <a routerLink="hot" class="btn btn-primary">
            <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
              Popular ahora
            </span>
          </a>
        </div>
        <div style="display:flex;justify-content:center">
          <a routerLink="reciente" class="btn btn-success">
            <span style="font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
              Lo más reciente
            </span>
          </a>
        </div>
        <div style="display:flex;justify-content:center">
          <a routerLink="guardado" class="btn btn-danger">
            <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
              Guardado
              <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
                3
              </div>
            </span>
          </a>
        </div>
        <div style="display:flex;justify-content:center">
          <a routerLink="siguiendo" class="btn btn-dark">
            <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
              Grupos seguidos
              <div class="bg-primary text-white" style="font-size:12px;width:15px;height:15px;border-radius:50%;display:flex;justify-content:center;align-items:center">
                5
              </div>
            </span>
          </a>
        </div>
        <div style="display:flex;justify-content:center">
          <a routerLink="pm" class="btn btn-primary">
            <span style="font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
              Ver mapa
            </span>
          </a>
        </div>
      </div>



    </div>
  </div> -->