.logo {
  color: #fff;
  display: flex;
  justify-content: center;
}
.r-b-l {
  box-shadow: 5px 0 5px -5px #bbb;
}
.all {
  box-shadow: 0 0 5px #bbb;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.bottom {
  box-shadow: 0 45px 45px -45px black;
}
.input {
  padding-left: 10px;
  outline: none;
  border-width: 0px;
  height: 30px;
  width: 350px;
  border-radius: 3px 0px 0px 3px;
}
.lupa {
  border-width: 0px;
  height: 30px;
  background: #fff;
  border-radius: 0px 3px 3px 0px;
  width: 20px;
}
.user {
  color: #fff;
  size: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul,
li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
a {
  color: white;
  /* padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px; */
  text-decoration: none;
}
a:hover {
  color: pink !important;
  text-decoration: none;
  cursor: pointer;
}
button {
  background: none;
  border: none;
  font-size: 1em;
  text-align: left;
  outline: none;
}
button:hover {
  cursor: pointer;
  /* color: white !important; */
  background: #f8f9fa;

  /* #f8f9fa */
  /* background: #2ecc71; */
}
/* button:active {
  background:none;
  border-style: outset !important;
  border: 0px !important;
} */
.dropdown-toggle::after {
  display: none;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
.mobile {
}
@media only screen and (min-width: 670px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 500px) and (min-width: 40px) {
  .adaptable {
    justify-content: center;
  }
}
@media only screen and (max-width: 1800px) and (min-width: 501px) {
  .adaptable {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 680px) and (min-width: 500px) {
  .adaptableMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -12px;
  margin-top: -12px;
}
.speech-bubble {
  position: relative;
  background: white;
  border-radius: 0.4em;
}
.all {
  box-shadow: 0 0 20px rgba(168, 168, 168, 0.75);
}
