<div class="row bg-secondary" style="background:white">

  <div class="col-md-3">
    <div style="display:none;position:fixed;top:0px;left:0px;width:220px;height:100%;background:#3c4a53">
      <div style="display:flex;justify-content:flex-start;flex-wrap:wrap">
        <button class="sideMenu" style="margin-top:0px;width:100%;height:50px">
          <i class="fas fa-credit-card"></i>
          <span style="margin-left:10px">
            Métodos de pago
          </span>
        </button>
        <button class="sideMenu" style="margin-top:0px;width:100%;height:50px">
          <i class="fas fa-credit-card"></i>
          <span style="margin-left:10px">
            Lo más reciente
          </span>
        </button>
        <button class="sideMenu" style="margin-top:0px;width:100%;height:50px">
          <i class="fas fa-credit-card"></i>
          <span style="margin-left:10px">
            Popular ahora
          </span>
        </button>
        <button class="sideMenu" style="margin-top:0px;width:100%;height:50px">
          <i class="fas fa-credit-card"></i>
          <span style="margin-left:10px">
            Ver mapa
          </span>
        </button>
        <button class="sideMenu" style="margin-top:0px;width:100%;height:50px">
          <i class="fas fa-credit-card"></i>
          <span style="margin-left:10px">
            Métodos de pago
          </span>
        </button>


      </div>

    </div>

  </div>

  <div class="col-md-8">

    <!-- <div style="z-index:100;background:red;position:fixed;top:60px;left:345px;width:500px">
      <app-webmenu> </app-webmenu>
    </div> -->



    <div class="row">

      <div class="col-md-8" style="margin-top:20px;">
        <div class="all">
          <!-- <app-write-x></app-write-x> -->
        </div>
        <app-reciente></app-reciente>
      </div>
      <div class="col-md-4" style="margin-top:20px;padding-left:30px">
        <!-- <div style="position:fixed;top:130px;left:950px;width:300px"> -->
        <div class="all" style="margin-top:30px;display:flex;justify-content:center;background:white;height:300px;border-radius:10px">
          <div style="display:flex;align-items:center;justify-content:center;margin-top:10px;height:30px;width:200px;background:dodgerblue;border-radius:6px;color:white;font-weight:600;text-align:center">
            Lo Mejor Semana Pasada
          </div>
        </div>
        <div class="all" style="margin-top:30px;display:flex;justify-content:center;background:white;height:300px;border-radius:10px">
          <div style="display:flex;align-items:center;justify-content:center;margin-top:10px;height:30px;width:200px;background:dodgerblue;border-radius:6px;color:white;font-weight:600;text-align:center">
            Grupos Más Activos
          </div>
        </div>
        <div class="all" style="margin-top:30px;display:flex;justify-content:center;background:white;height:300px;border-radius:10px">
          <div style="display:flex;align-items:center;justify-content:center;margin-top:10px;height:30px;width:200px;background:dodgerblue;border-radius:6px;color:white;font-weight:600;text-align:center">
            Grupos Más Activos
          </div>
        </div>
        <div class="all" style="margin-top:30px;display:flex;justify-content:center;background:white;height:300px;border-radius:10px">
          <div style="display:flex;align-items:center;justify-content:center;margin-top:10px;height:30px;width:200px;background:dodgerblue;border-radius:6px;color:white;font-weight:600;text-align:center">
            Grupos Más Activos
          </div>
        </div>
        <!-- </div> -->


      </div>


    </div>




  </div>



</div>