<div class="bg-successs all" style="border-radius:0px 0px 2px 2px;background:white;padding:10px;width:600px;display:flex;justify-content:space-between">
  <div style="display:flex;justify-content:center">
    <a routerLink="hot" class="btn btn-primary">
      <span style="color:white;font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
        Popular ahora
      </span>
    </a>
  </div>
  <div style="display:flex;justify-content:center">
    <a routerLink="reciente" class="btn btn-success">
      <span style="color:white;font-weight:600;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
        Lo más reciente
      </span>
    </a>
  </div>
  <div style="display:flex;justify-content:center">
    <a routerLink="guardado" class="btn btn-danger">
      <span style="color:white;font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
        Guardado
      </span>
    </a>
  </div>
  <!-- <div style="display:flex;justify-content:center">
    <a routerLink="siguiendo" class="btn btn-dark">
      <span style="color:white;font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
        Grupos seguidos
      </span>
    </a>
  </div>
  <div style="display:flex;justify-content:center">
    <a routerLink="pm" class="btn btn-primary">
      <span style="color:white;font-weight:600;border-right:0px solid #ccc;margin-top:0px;border-left:0px solid #ccc;padding:20px;height:40px;font-size:18px;display:flex;align-items:center">
        Ver mapa
      </span>
    </a>
  </div> -->
</div>