<div class="row" style="padding:5px">
  <div class="col-md-4 offset-md-4">
    <div class="" style="display: flex; justify-content:space-between;width:100%;border-radius:4px;border:0px solid #ccc;padding:3px">
      <div class="text-muted" style="padding-left:10px">
        Recibistes un
        <span style="font-weight:600">Like</span>
        de
        <span class="text-primary" style="font-weight:600">
          Oscar Garcia F
        </span>
      </div>
      <div class="text-white bg-secondary" style="border-radius:4px;font-weight:600;width:50px;text-align:center">
        Ok
      </div>
    </div>

    <div class="" style="display: flex; justify-content:space-between;width:100%;border-radius:4px;border:0px solid #ccc;padding:3px">
      <div class="text-muted" style="padding-left:10px">
        Recibistes una
        <span style="font-weight:600">Respuesta</span>
        de
        <span class="text-primary" style="font-weight:600">
          Oscar Garcia F
        </span>
      </div>
      <div class="text-white bg-secondary" style="border-radius:4px;font-weight:600;width:50px;display:flex;justify-content:center;align-items:center">
        Ok
      </div>
    </div>

    <div class="" style="display: flex; justify-content:space-between;width:100%;border-radius:4px;border:0px solid #ccc;padding:3px">
      <div class="text-muted" style="padding-left:10px">
        <a>
          <span style="font-weight:600">Solicitud de compra</span>
          de
          <span class="text-primary" style="font-weight:600">
            Rodrigo Diaz F
          </span>
        </a>
      </div>
      <div class="text-white bg-secondary" style="border-radius:4px;font-weight:600;width:50px;display:flex;justify-content:center;align-items:center">
        Ok
      </div>
    </div>

  </div>
</div>