<div class="container-fluid">
  <div class="row bottom" style="padding:15px;background:#29303B;margin-top:20px">
    <div class="col-md-5">
      <div class="text-white" style="width:100%">
        <span style="font-size:36px;font-weight:450;">
          Una red de compras en tu ciudad conectada
        </span>
        <br>
        <span style="margin:0px;color:white;font-size:21px;">
          Encuentra grupos de compra en un muro con más herramientas y más arbitradas... más valor agregado!</span>
        <br>
        <span style="margin:0px;color:white;font-size:15px;">
          Sube lo que vendes y ocupa métodos de envio, de pagos y preparate para lanzar nuevos productos!
        </span>

        <br>
        <span class="badge badge-dark">
          <i class="fas fa-rocket" style="font-size:20px"></i>
        </span>
        <span class="badge badge-dark">
          <i class="fas fa-rocket" style="font-size:20px"></i>
        </span>
        <span class="badge badge-dark">
          <i class="fas fa-rocket" style="font-size:20px"></i>
        </span>

      </div>
    </div>

    <div class="col-md-7" style="display:flex;justify-content:center;align-items:center">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>