<div class="row" style="margin-top:100px">
  <div class="col-md-12 text-center">

    <p class="text-dark" style="font-weight:600;font-size:18px">
      Ingrese a la página con su cuenta favorita
    </p>

    <button class="btn btn-danger" (click)="ingresar('google')">
      <span style="font-weight:600">Google</span>
    </button>

    <button class="btn text-white" style="background:#39579b;margin-left:10px" (click)="ingresar('facebook')">
      <span style="font-weight:600">Facebook</span>
    </button>
  </div>

  <div class="col-md-12 text-center" style="margin-top:20px">
    <button class="btn btn-light text-muted" (click)="salir()">
      <i class="fas fa-bomb" style="font-size:30px"></i>
      <span style="font-weight:600">Salir de Joopiter</span>
    </button>
  </div>

</div>