<div style="z-index:101;position:fixed;bottom:0px;right:30px;width:100%;display:flex;justify-content:flex-end;flex-wrap:wrap;align-items:flex-start">
  <div *ngIf="showChat">

    <div style="width:560px;height:350px;display:flex;border:1px solid rgb(223, 222, 222);border-radius:6px 6px 0px 0px">
      <div class="bg-light" style="border-right:0.5px solid rgb(223, 222, 222);background:white;font-size:14px;width:230px;height:100%;border-radius:6px 0px 0px 0px;display:flex;justify-content:flex-start;flex-wrap:wrap;flex-direction:column">
        <div style="width:100%;display:flex;justify-content:flex-end">
          <i class="fas fa-search" style="margin-right:5px;margin-top:5px;color:#ccc;font-size:22px"></i>
        </div>

        <div style="width:100%;margin-top:10px;display:flex;justify-content:flex-start;">
          <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          <div style="margin-left:10px;margin-right:5px">
            <div style="display:flex;justify-content: space-between">
              <span class="text-dark" style="font-weight:600">
                Oscar Garcia
              </span>
              <span>
                9:10 AM
              </span>
            </div>
            <span class="text-muted" style="font-size:13px">
              hoola como eestas y tu...
            </span>
          </div>
        </div>

        <div style="width:100%;margin-top:10px;display:flex;justify-content:flex-start;">
          <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          <div style="margin-left:10px;margin-right:5px">
            <div style="display:flex;justify-content: space-between">
              <span class="text-dark" style="font-weight:600">
                Oscar Garcia
              </span>
              <span>
                9:10 AM
              </span>
            </div>
            <span class="text-muted" style="font-size:13px">
              hoola como eestas y tu...
            </span>
          </div>
        </div>

        <div style="width:100%;margin-top:10px;display:flex;justify-content:flex-start;">
          <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          <div style="margin-left:10px;margin-right:5px">
            <div style="display:flex;justify-content: space-between">
              <span class="text-dark" style="font-weight:600">
                Oscar Garcia
              </span>
              <span>
                9:10 AM
              </span>
            </div>
            <span class="text-muted" style="font-size:13px">
              hoola como eestas y tu...
            </span>
          </div>
        </div>

        <div style="width:100%;margin-top:10px;display:flex;justify-content:flex-start;">
          <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          <div style="margin-left:10px;margin-right:5px">
            <div style="display:flex;justify-content: space-between">
              <span class="text-dark" style="font-weight:600">
                Oscar Garcia
              </span>
              <span>
                9:10 AM
              </span>
            </div>
            <span class="text-muted" style="font-size:13px">
              hoola como eestas y tu...
            </span>
          </div>
        </div>

        <div style="width:100%;margin-top:10px;display:flex;justify-content:flex-start;">
          <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          <div style="margin-left:10px;margin-right:5px">
            <div style="display:flex;justify-content: space-between">
              <span class="text-dark" style="font-weight:600">
                Oscar Garcia
              </span>
              <span>
                9:10 AM
              </span>
            </div>
            <span class="text-muted" style="font-size:13px">
              hoola como eestas y tu...
            </span>
          </div>
        </div>
      </div>

      <!-- °°°°°°°°°°°°°° DIVISION °°°°°°°°°°°°°°° -->

      <div style="background:white;width:330px;height:100%;border-radius:0px 6px 0px 0px;display:flex;justify-content:space-between;flex-direction:column">
        <div class="bg-light" style="height:30px;width:100%;display:flex;justify-content:flex-end;flex-wrap:wrap">
          <i class="fas fa-angle-down" (click)="showChat = false" style="font-size:28px;color:#ccc"></i>
          <i class="fas fa-times" (click)="close()" style="margin-left:15px;margin-right:10px;font-size:25px;color:#ccc"></i>
          <hr style="margin:0px;padding:0px;width:100%">
        </div>
        <div style="overflow:auto;width:100%">
          <div style="padding-top:10px;display:flex;justify-content:flex-start;align-items:flex-start">
            <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
            <div style="margin-left:5px">
              <span class="text-dark" style="font-size:14px;font-weight:600">
                Oscar Garcia
              </span>
              <br>
              <div class="bg-light text-dark" style="margin-right:15px;font-size:16px;border-radius:0px 15px 15px 15px;padding-left:14px;padding-top:4px;padding-bottom:4px;border:0px solid #ccc">
                hola esto es un mensaje random que dejo
              </div>
            </div>
          </div>

          <div style="padding-top:10px;display:flex;justify-content:flex-start;align-items:flex-start">
            <img src="assets/03.jpg" style="margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
            <div style="margin-left:5px">
              <span class="text-dark" style="font-size:14px;font-weight:600">
                Oscar Garcia
              </span>
              <br>
              <div class="bg-light text-dark" style="margin-right:15px;font-size:16px;border-radius:0px 15px 15px 15px;padding-left:14px;padding-top:4px;padding-bottom:4px;border:0px solid #ccc">
                hola esto es un mensaje random que dejo
              </div>
            </div>
          </div>

          <div style="padding-top:10px;display:flex;justify-content:flex-end;align-items:flex-start">
            <div style="margin-left:5px">
              <div class="text-dark" style="font-size:14px;font-weight:600;width:100%;text-align:right">
                Oscar Garcia
              </div>
              <div class="text-white bg-success" style="background:#2E86F3;margin-left:15px;font-size:16px;border-radius:15px 2px 15px 15px;padding-left:14px;padding-top:4px;padding-bottom:4px;border:0px solid #ccc">
                hola esto es un mensaje random que dejo
              </div>
            </div>
            <img src="assets/03.jpg" style="margin-right:5px;margin-left:5px;height:40px;width:40px;border-radius:5px;object-fit:cover">
          </div>
        </div>

        <div style="width:100%;display:flex;justify-content:flex-start">
          <textarea class="expandible bg-light" type="text" name="text" [(ngModel)]="text" placeholder="Escribe un mensaje" rows='1'
            data-min-rows="1" style="font-size:16px">
          </textarea>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!showChat" style="width:100px;height:40px;margin-top:10px;margin-right:10px;background:#29303B;border-radius:4px 4px 0px 0px;display:flex;align-items:center;justify-content:space-around">
    <a (click)="showChat = true">
      <div class="text-white" style="padding-right:10px;padding-left:10px">
        <span style="font-weight:600">
          Chat
        </span>
      </div>
    </a>
  </div>
</div>