<div class="row">

  <div class="col-md-4" style="padding:50px">

    <!-- <div class=" text-white bg-dark" style="width:300px;border-radius:15px;padding:10px">
      <h6>Descubre las 2 apps!</h6>
      <ul>
        <li>
          <a>
            <span (click)="showEC = true" style="font-weight:400">
              <i class="fas fa-caret-right"></i>
              Joopiter eCommerce</span>
          </a>
          <p *ngIf="showEC" class="bg-light text-muted" style="margin-left:10px;border-radius:5px;padding:3px">Nuestro muro de publicaciones de ventas mobile!</p>
        </li>
        <li>
          <a>
            <span (click)="showFr = true" style="font-weight:400">
              <i class="fas fa-caret-right"></i>
              Joopiter friends</span>
          </a>
          <p *ngIf="showFr" class="bg-light text-muted" style="margin-left:10px;border-radius:5px;padding:3px">Un chat y un monedero digital que puedes usar con tus amigos!</p>
        </li>
      </ul>

    </div> -->


    <!-- <span style="font-weight:500">Joopiter Shipping</span>
      <span style="font-weight:500">Joopiter eCommerce</span>
      <span style="font-weight:500">Joopiter friends</span> -->


  </div>

  <div class="col-md-4" style="">
    <div class="text-muted" style="margin-top:20px;margin-bottom:20px;display:flex;justify-content:center">
      <input type="text" name="text" style="height:50px;padding-left:10px;height:40px;border-radius:10px;min-width:300px;max-width:400px;border:1px solid #ccc;display:flex;align-items:center"
        [(ngModel)]="text" (keyup.enter)="enviar(action)" placeholder={{varr}}>
    </div>

    <div class="text-muted" style="margin-top:20px;margin-bottom:20px;display:flex;justify-content:center">
      <button (click)="enviar(action)" class="btn btn-light text-muted">
        <h5>Publicar</h5>
      </button>
    </div>

    <a (click)="showImg = true">
      <span style="font-size:30px;font-weight:500">
        Seleccione archivos
      </span>
    </a>

    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento }"
      class="well drop-zone">
      <h4>Deje caer aquí la imagen</h4>
      <img src="assets/drop-images.png">
    </div>

    <table class="table table-sm">
      <thead class="">
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">
            {{ archivo.nombreArchivo }}
          </td>
          <td>
            {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-md-4 text-muted" style="padding:50px">
    <h6>Señores usuarios</h6>
    <p>
      Para un mejor servicio,
      <!-- se cuentan como prueba los posts, comentarios y chats públicos.
      Por eso  -->
      guardamos cada post, comentario y chat destinados a desconosidos. Sin embargo, los
      <span style="font-weight:500">chats con tus amigos</span> núnca serán almacenados como
      <span style="font-weight:500">datos legibles</span>!
    </p>

    <p>
      Recuerda que todo link de pago se genera del siguiente modo
      <span class="text-primary" style="font-weight:500">
        #valor</span>
      (ejemplo
      <span class="text-primary" style="font-weight:500">
        #4000</span>).
    </p>

    <div class=" text-white bg-dark" style="width:300px;border-radius:15px;padding:10px">
      <h6>Descubre las 2 apps!</h6>
      <ul>
        <li>
          <a>
            <span (click)="showEC = true" style="font-weight:400">
              <i class="fas fa-caret-right"></i>
              Joopiter eCommerce</span>
          </a>
          <p *ngIf="showEC" class="bg-light text-muted" style="margin-left:10px;border-radius:5px;padding:3px">Nuestro muro de publicaciones de ventas mobile!</p>
        </li>
        <li>
          <a>
            <span (click)="showFr = true" style="font-weight:400">
              <i class="fas fa-caret-right"></i>
              Joopiter friends</span>
          </a>
          <p *ngIf="showFr" class="bg-light text-muted" style="margin-left:10px;border-radius:5px;padding:3px">Un chat y un monedero digital que puedes usar con tus amigos!</p>
        </li>
      </ul>

    </div>

  </div>



  <!-- <div class="col-md-4 offset-md-4">
    <table class="table table-sm">
      <thead class="">
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">
            {{ archivo.nombreArchivo }}
          </td>
          <td>
            {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->


</div>

<div *ngIf="showImg" (click)="showImg = false" style="position:fixed;left:0px;top:0px;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.6); height:100%;width:100%;z-index:2;display:flex;justify-content:center;align-items:center;">
  <div style="padding:20px;width:600px;height:500px;background:white;display:flex;justify-content:flex-start; align-items: center;flex-wrap:wrap;position:relative;overflow: auto">
    <i class="fas fa-times-circle" style="font-size:40px;color: lightcoral;position:absolute;top:0px;right:0px"></i>

    <a>
      <img src="assets/12.jpg" style="margin:5px;width:170px;height:170px;object-fit:cover;border-radius:12px;">
    </a>
    <a>
      <img src="assets/13.jpg" style="margin:5px;width:170px;height:170px;object-fit:cover;border-radius:12px;">
    </a>
    <a>
      <img src="assets/14.jpg" style="margin:5px;width:170px;height:170px;object-fit:cover;border-radius:12px;">
    </a>
    <a>
      <img src="assets/15.jpg" style="margin:5px;width:170px;height:170px;object-fit:cover;border-radius:12px;">
    </a>
    <a>
      <img src="assets/11.jpg" style="margin:5px;width:170px;height:170px;object-fit:cover;border-radius:12px;">
    </a>


  </div>
</div>