.drop-zone {
  border: dotted 3px #bbb;
  opacity: 0.5;
  color: #666;
  text-align: center;
}

.file-over {
  border: dotted 3px dodgerblue;
}

.table {
  margin-top: 30px;
}

.text-green {
  color: green;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  cursor: pointer;
  /* opacity: 0.5 !important; */
}
textarea {
  margin-left: 15px;
  flex: 1 1 auto;
  color: gray;
  outline: none;
  border: 1px solid red;
  resize: none;
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  /* padding: 5px !important; */
  /* padding-top: 0px !important; */
  font-size: 16px;
  background: white;
  border-radius: 4px;
  /* margin: 10px auto; */
}
/* textarea {
  color: gray;
  outline: none;
  border: 0px;
  resize: none;
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  padding: 10px !important;
  padding-right: 5px !important;
  font-size: 16px;
  background: white;
  border-radius: 4px;
  margin: 10px auto;
} */

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.dirty {
  color: white !important;
  background: #28a745 !important;
}
.clean {
  color: #343a40;
}
.sent {
  color: dodgerblue;
  font-size: 10px;
}
/* @media only screen and (max-width: 454px) and (min-width: 390px) {
  textarea {
    width: 300px;
  }
} */
/* @media only screen and (max-width: 1000px) and (min-width: 455px) {
  textarea {
    width: 350px;
  }
} */
/* @media only screen and (max-width: 800px) and (min-width: 455px) {
  textarea {
    width: 350px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 801px) {
  textarea {
    width: 400px;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1101px) {
  textarea {
    width: 430px;
  }
} */
/* @media only screen and (max-width: 600px) and (min-width: 490px) {
  .adaptable {
    width: 400px;
  }
} */
